


<div class="card mx-auto m-2" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title text-center">User Registration</h3>
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" id="photo" name="photo" placeholder="PHOTO" />
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="PASSWORD" />
      </div>
      <button class="btn btn-primary d-block mx-auto" type="button">REGISTER</button>
    </form>
  </div>
</div>
